DAGSHUB_USERNAME=
DAGSHUB_TOKEN=
MLFLOW_TRACKING_URI=https://dagshub.com/tristan.garnier1090/DevOps-MLOps-Project.mlflow

# Backend ML (FastAPI)
ENV=development
MODEL_NAME=dvf-paris-price
MODEL_STAGE=Staging
