DAGSHUB_USERNAME=
DAGSHUB_TOKEN=
MLFLOW_TRACKING_URI=https://dagshub.com/tristan.garnier1090/DevOps-MLOps-Project.mlflow

# Backend ML (FastAPI)
ENV=development
MODEL_NAME=dvf-paris-price
MODEL_STAGE=Staging
CORS_ALLOW_ORIGINS=http://localhost:5173

# Backend Main (Node.js)
DATABASE_URL=
JWT_SECRET=
ML_SERVICE_URL=http://backend-ml:8000
